.Rproj.user
.Rhistory
.RData
All
Birmingham
Bristol
Btp
Cambridgeshire
Cheshire
City of London
Cleveland
Cors
Cumbria
Derbyshire
Devon - Cornwall
Dorset
Durham
Essex
Gwent
Kent
Lancashire
Leeds - Bradford
Lincolnshire
Liverpool - Merseyside
London Combined
Manchester
Metropolitan
Newcastle - Sunderland
Norfolk
North Wales
North Yorkshire
Nottingham - Derby
Other areas
Pics
Sheffield
South Wales
Southampton - Portsmouth
Suffolk
Surrey
Sussex
Thames Valley
West Mercia
Wiltshire
crimeTypes.eps
crimeTypes.pdf
map
script3.R
testAll
Untitled-1.nb
Untitled-3.nb
CrimeData.Rproj
testscript.R
workspace.RData
workspaceBackup.RData
